.App {
  text-align: center;
  


  

  #editor {
    width: 50%;
    height: 100%;
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
  }

  #preview {
    width: 50%;
    height: 100%;
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.5em;
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
}

